{% extends "posts/base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">

  <h1 class="my-4">Blog
    <small>Posts</small>
  </h1>

  <!-- Blog Post -->
  <div class="card mb-4">
    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.content|linebreaks }}</p>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.pub_date }} by
      <a href="#">{{ post.author }}</a>
    </div>
  </div>
</div>

{% endblock %}