{% extends "posts/base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">

    <a href="{% url 'home' %}">Back to home</a>
    <!-- Blog Post -->
    <div class="card mb-4 mt-4">
        <div class="card-header">
            Post detail
        </div>
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.content|linebreaks }}</p>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.pub_date }} by
      <a href="#">{{ post.author }}</a>
    </div>
  </div>
</div>

{% endblock %}