{% extends "posts/base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">
    <!-- Blog Post -->
    <div class="card mb-4 mt-4">
        <div class="card-header">
          <div>Post detail</div>
          {% if post.author == user %}
          <div>
            <a href="{% url 'post-update' post.id %}" class="btn btn-secondary">Update</a>
            <a href="{% url 'post-delete' post.id %}" class="btn btn-danger">Delete</a>
          </div>
          {% endif %}
        </div>
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.content|linebreaks }}</p>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.pub_date }} by
      <a href="#">{{ post.author }}</a>
      <p>Category: {{ post.category }}</p>
      <p><a href="{% url 'home' %}">Back to home</a></p>
    </div>
  </div>
</div>

{% endblock %}