{% extends "posts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">
  <!-- Blog Post -->
  <div class="card mb-4 mt-4">
    <div class="card-header">
        Update Blog Post
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <a href="{% url 'post-detail' post.id %}" class="btn btn-secondary" type="submit">Cancel</a>
            <button class="btn btn-outline-info" type="submit">Update</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}